Node-red/Fluxo.json
[
    {
        "id": "4495dbee713941d6",
        "type": "tab",
        "label": "Fluxo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "json-temp",
        "type": "json",
        "z": "4495dbee713941d6",
        "name": "Parse JSON",
        "x": 470,
        "y": 520,
        "wires": [
            [
                "ext-temp"
            ]
        ]
    },
    {
        "id": "ext-temp",
        "type": "function",
        "z": "4495dbee713941d6",
        "name": "Extrai valor",
        "func": "var valor = 38.5;\ntry {\n    var raw = msg.payload;\n    if (typeof raw === 'string') {\n        raw = JSON.parse(raw);\n    }\n    if (raw && raw.valor !== undefined) {\n        valor = Number(raw.valor);\n    }\n} catch(e) {\n    valor = 38.5;\n}\nmsg.payload = Number(valor);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 520,
        "wires": [
            [
                "gauge-temp",
                "2b441ac8177a1433"
            ]
        ]
    },
    {
        "id": "gauge-temp",
        "type": "ui_gauge",
        "z": "4495dbee713941d6",
        "name": "Temperatura",
        "group": "grp1",
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "",
        "label": "Temperatura °C",
        "format": "",
        "min": "10",
        "max": 42,
        "colors": [
            "#3b8bd4",
            "#e8a838",
            "#e24b4a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 520,
        "wires": []
    },
    {
        "id": "mqtt-mov",
        "type": "mqtt in",
        "z": "4495dbee713941d6",
        "name": "Movimento",
        "topic": "petos/coleira/movimento",
        "broker": "broker1",
        "inputs": 0,
        "x": 300,
        "y": 460,
        "wires": [
            [
                "json-mov"
            ]
        ]
    },
    {
        "id": "json-mov",
        "type": "json",
        "z": "4495dbee713941d6",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 460,
        "wires": [
            [
                "ext-mov"
            ]
        ]
    },
    {
        "id": "ext-mov",
        "type": "function",
        "z": "4495dbee713941d6",
        "name": "Extrai valor",
        "func": "var valor = 1.0;\ntry {\n    var raw = msg.payload;\n    if (typeof raw === 'string') {\n        raw = JSON.parse(raw);\n    }\n    if (raw && raw.valor !== undefined) {\n        valor = Number(raw.valor);\n    }\n} catch (e) {\n    valor = 1.0;\n}\nmsg.payload = Number(valor);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 460,
        "wires": [
            [
                "gauge-mov"
            ]
        ]
    },
    {
        "id": "gauge-mov",
        "type": "ui_gauge",
        "z": "4495dbee713941d6",
        "name": "Atividade",
        "group": "grp1",
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "",
        "label": "Nível de atividade",
        "format": "",
        "min": 0,
        "max": 3,
        "colors": [
            "#e24b4a",
            "#e8a838",
            "#3b6d11"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "mqtt-status",
        "type": "mqtt in",
        "z": "4495dbee713941d6",
        "name": "Status",
        "topic": "petos/coleira/status",
        "broker": "broker1",
        "inputs": 0,
        "x": 310,
        "y": 400,
        "wires": [
            [
                "json-status"
            ]
        ]
    },
    {
        "id": "json-status",
        "type": "json",
        "z": "4495dbee713941d6",
        "name": "Parse JSON",
        "x": 470,
        "y": 400,
        "wires": [
            [
                "fmt-status"
            ]
        ]
    },
    {
        "id": "fmt-status",
        "type": "function",
        "z": "4495dbee713941d6",
        "name": "Formata status",
        "func": "if (msg.payload && msg.payload.status) {\n    var s = msg.payload.status;\n    msg.payload = s === 'normal' ? '🟢 Normal' : \n                  s === 'atencao' ? '🟡 Atenção' : '🔴 Crítico';\n} else {\n    msg.payload = '🟢 Normal';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 400,
        "wires": [
            [
                "text-status"
            ]
        ]
    },
    {
        "id": "text-status",
        "type": "ui_text",
        "z": "4495dbee713941d6",
        "group": "grp1",
        "name": "Status do pet",
        "label": "Status atual",
        "format": "{{msg.payload}}",
        "x": 910,
        "y": 400,
        "wires": []
    },
    {
        "id": "mqtt-alerta",
        "type": "mqtt in",
        "z": "4495dbee713941d6",
        "name": "Alerta",
        "topic": "petos/coleira/alerta",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "broker1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 310,
        "y": 340,
        "wires": [
            [
                "json-alerta"
            ]
        ]
    },
    {
        "id": "json-alerta",
        "type": "json",
        "z": "4495dbee713941d6",
        "name": "Parse JSON",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "fmt-alerta"
            ]
        ]
    },
    {
        "id": "fmt-alerta",
        "type": "function",
        "z": "4495dbee713941d6",
        "name": "Formata alerta",
        "func": "if (msg.payload && msg.payload.motivo) {\n    var m = msg.payload.motivo === 'febre_alta' ? \n            'Febre alta detectada!' : 'Inatividade prolongada!';\n    msg.payload = '⚠️ ALERTA — ' + m;\n} else {\n    msg.payload = '⚠️ ALERTA recebido';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 340,
        "wires": [
            [
                "text-alerta"
            ]
        ]
    },
    {
        "id": "text-alerta",
        "type": "ui_text",
        "z": "4495dbee713941d6",
        "group": "grp1",
        "name": "Alerta",
        "label": "⚠️ Alerta",
        "format": "{{msg.payload}}",
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "mqtt-temp",
        "type": "mqtt in",
        "z": "4495dbee713941d6",
        "name": "Temperatura",
        "topic": "petos/coleira/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "broker1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "json-temp"
            ]
        ]
    },
    {
        "id": "2b441ac8177a1433",
        "type": "debug",
        "z": "4495dbee713941d6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 580,
        "wires": []
    },
    {
        "id": "grp1",
        "type": "ui_group",
        "name": "PetOS — Coleira Inteligente",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "broker1",
        "type": "mqtt-broker",
        "name": "HiveMQ WS",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "tls": "",
        "clientid": "petos-nodered-123",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "PetOS Dashboard",
        "icon": "pets"
    },
    {
        "id": "a38c5fb9aeef6182",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]